<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Ввод Чека</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="/css/starter-template.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.12.0/jquery-ui.min.js"></script>
    <script src="/js/calculationOfWritingTable.js" ></script>
    <script src="/js/library/bootstrap.bundle.min.js" ></script>
    <script src="/js/library/jquery.validate.min.js" ></script>


</head>
<body>
<!--<div th:insert="@{templates/templates/navbar :: copy}"></div>-->
<div th:fragment="copy">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" th:href="@{/}">Главня</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/checkinput}">Ввод чека <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Настройки
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/inputdata}">Входные данные</a>
                        <a class="dropdown-item" th:href="@{/address}">Адреса</a>
                        <a class="dropdown-item" th:href="@{/typework}">Типы работы</a>
                        <a class="dropdown-item" th:href="@{/names}">Сотрудники</a>
                        <a class="dropdown-item" th:href="@{/months}">Месяца</a>
                    </div>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/download}">Скачать Отчет<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="mx-5">
                <H2><span class="text-white bg-dark" th:text="${nameOfUser}">   </span> </H2>
                <H2><span>   </span> </H2>
            </div>
            <form th:action="@{/login}" class="form-inline my-2 my-lg-0">
                <!--                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
                <!--                    <H2><span class="text-white bg-dark" th:text="${nameOfUser}">   </span> </H2>-->
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Выйти</button>
            </form>
        </div>
    </nav>
</div>

<main role="main" class="container">

    <div class="starter-template">
        <div class="my-5"></div><h1>Статические данные</h1></div>
        <form th:action="@{/checkinput}" th:object="${records}" method="post" id="mainForm">
            <fieldset>
                <div class="row my-5">
<!--                <input type="number" th:field="*{records[0].idMonth}"/>-->
                    <div class="col">
                        <input class="form-control" type="date"   th:field="*{records[0].date}"/>
                    </div>
                    <div class="col">
                        <input class="company form-control" type="text" id="company" placeholder="Организация"  th:field="*{records[0].company}"/>
                    </div>
                    <div class="col">
                    <input class="address form-control" type="text" id="address" placeholder="Адрес"  th:field="*{records[0].address}"/>
                    </div>
                    <div class="col">
                        <input class="employeesname form-control" type="text" id="name" placeholder="Ответсвенный"  th:field="*{records[0].name}"/>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
<!--                            <h2>Позиции</h2>-->
                            <th>Позиция</th>
                            <th>Наименовние</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>Сумма</th>
                            <th>Скидка</th>
                            <th>Итог</th>
                            <th>Тип работы</th>
                            <th>Ответсвенный</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="record, itemStat : *{records}" class="lineTable" th:classappend="${itemStat.index}" style="display: none;">

                            <td><p th:utext="${itemStat.index + 1}"></p></td>
                            <td><input class="nameObject form-control" size="12"                            placeholder="Наиманование"   type="text"   th:field="*{records[__${itemStat.index}__].nameObject}"/></td>
                            <td><input class="quantity form-control" size="10"step=".01"                    placeholder="шт."     type="text"   th:field="*{records[__${itemStat.index}__].quantity}"/></td>
                            <td><input class="price form-control"    size="4" step=".01"                    placeholder="руб."           type="text"   th:field="*{records[__${itemStat.index}__].price}"/></td>
                            <td><input class="sum form-control-plaintext"      size="4" step=".01" readonly           type="text"   th:field="*{records[__${itemStat.index}__].sum}"/></td>
                            <td><input class="discount form-control" size="4" step=".01" placeholder="Скидка"                            type="text"   th:field="*{records[__${itemStat.index}__].discount}"/></td>
                            <td><input class="endSum form-control-plaintext"   size="4" step=".01"          readonly  type="text"   th:field="*{records[__${itemStat.index}__].endSum}"/></td>
                            <td><input class="typework form-control" size="12"                              placeholder="Тип работы"     type="text"   th:field="*{records[__${itemStat.index}__].typeWork}"/></td>
                            <td><input class="comment form-control" size="8"                          placeholder="Комментарии"   type="text"   th:field="*{records[__${itemStat.index}__].comment}"/></td>

                    </tr>
                    </tbody>
                </table>
                <input type="submit" class="btn btn-outline-success btn-lg" id="submitButton" th:value="Сохранить">
                <input type="reset"  class="btn btn-outline-danger btn-lg"id="resetButton" name="reset" th:value="Очистить"/>
            </fieldset>
        </form>
    </div>

</main><!-- /.container -->
</body>
</html>
